.navbar-brand img {
  max-height:66px;
  margin-top: -15px;
}
#MainMenu.navbar #navbar-main .navbar-nav>li>a:hover, #MainMenu.navbar #navbar-main .navbar-nav>li>a:active, #MainMenu.navbar #navbar-main .navbar-nav>li>a:focus, #MainMenu.navbar #navbar-main .navbar-nav>.active>a, #MainMenu.navbar #navbar-main .navbar-nav>.active>a:hover, #MainMenu.navbar #navbar-main .navbar-nav>.active>a:focus, #MainMenu.navbar #navbar-main .navbar-nav>li.open>a, #MainMenu.navbar #navbar-main .navbar-nav>li.open>a:hover, #MainMenu.navbar #navbar-main .navbar-nav>li.open>a:focus {
  border-top: solid 2px #E4701D;
}
h3 em {color: #E4701D;}
.panel-body:hover .read-more{background:rgba(228,112,29,0.9) !important;}